body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.9);
}

.cont-1 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerH1 {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.header {
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: end;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    max-width: 150px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 780px) {
    .header {
        justify-content: center;
    }
}

.timeEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: right;
}

form label {
    font-size: x-large;
    padding: 5px;
}

form select {
    width: 150px;
    height: 30px;
}

.lineblue {
    border: none;
    height: 5px;
    background-color: #007BFF;
    width: 100px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.groups {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 5rem;
}

.obsluhaEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.obsluhabtn {
    background-color: #007BFF;
    color: #fff;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
}

.obsluhabtn:hover {
    background-color: #0056b3;
}

.timeBtn {
    background-color: #007BFF;
    color: #fff;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
}

.timeBtn:hover {
    background-color: #0056b3;
}

.newStaffT {
    width: 150px;
    height: 30px;
}

.NewStaffM {
    margin-top: 10px;
    height: 50px;
}

.dateEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.calendar-row {
    display: flex;
}

.day {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
}

.sunday {
    color: red;
}

.today {
    background-color: yellow;
}

.dbinfo {
    color: white;
}

.serviceEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.row-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

form input {
    width: 300px;
    height: 30px;
}

form {
    justify-content: right;
    align-items: right;
}