body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.9);
    display: flex;
    flex-direction: column;
}

.cont-1 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerH1 {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.header {
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: end;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    max-width: 150px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 780px) {
    .header {
        justify-content: center;
    }
}



form label {
    font-size: x-large;
    font-weight: bold;
    padding: 5px;
}

form select {
    width: 150px;
    height: 30px;
}

select {
    width: 200px;
    height: 50px;
    font-size: large;
}

option {
    font-size: large;
}

.lineblue {
    border: none;
    height: 5px;
    background-color: #007BFF;
    width: 100px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.timeBtn {
    background-color: #007BFF;
    color: #fff;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.timeBtn:hover {
    background-color: #0056b3;
}

.newStaffT {
    width: 150px;
    height: 30px;
}

.NewStaffM {
    margin-top: 10px;
    height: 50px;
}

.dbinfo {
    color: white;
    font-weight: bold;
}


.bolderService {
    font-weight: bold;
    color: white;
    font-size: x-large;
    text-align: right;
}

.bolderService input {
    width: 300px;
    height: 50px;
    font-size: large;
}


.row-buttons {
    justify-content: right;
    align-items: right;
    text-align: right;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row-buttons button {
    width: 300px;
    height: 50px;
}

form input {
    width: 300px;
    height: 30px;
}

form {
    justify-content: right;
    align-items: right;
}

input {
    width: 300px;
    height: 30px;
}

/* Kalendář  */
.calendar {
    width: 100%;
    border-collapse: collapse;
    padding: 30px;
}

.calendar th,
.calendar td {
    padding: 10px;
    text-align: center;
}

.calendar th {
    background-color: rgba(18, 18, 18, 0.9);
}

.calendar a {
    display: block;
    text-decoration: none;
    color: white;
}

.calendar a:hover {
    background-color: rgba(18, 18, 18, 0.9);
}




.buttonCalendar {
    background-color: #333;
    width: 100%;
    height: 100%;
}

.buttonCalendar:hover {
    background-color: rgba(18, 18, 18, 0.9);
}

.serviceBtn {
    background-color: #007BFF;
    color: #fff;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
}

.serviceBtn:hover {
    background-color: #0056b3;
}


.groups {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 3rem;
}

.group1 {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-gap: 3rem;
}

.group2 {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-gap: 3rem;
}

.it1 {
    width: 100%;
    height: 100%;
}


.dateEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: start;
    align-items: center;
    text-align: right;
}

.timeEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timeEdt p {
    text-align: center;
}

.serviceEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: start;
    align-items: center;
    text-align: right;
}


@media screen and (max-width: 1200px) {
    .groups {
        grid-gap: 1rem;
    }

    .group1 {
        flex-direction: column;
        grid-gap: 1rem;
    }

    .group2 {
        flex-direction: column;
        grid-gap: 1;
    }

    .timeEdt {
        padding: 20px;
    }


    .gap {
        flex-direction: column;
    }

    .bolderService {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .calendar th,
    .calendar td {
        padding: 0px;
        text-align: center;
    }

    .timeEdt {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .serviceEdt {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .row-form {
        text-align: center;
        flex-direction: column;
    }

    #timefForm {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.CServiceEdt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    justify-content: start;
    align-items: center;
    text-align: right;
}

.gap {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.row-form {
    text-align: center;
}

#timeForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.disabled-option {
    color: black;
    opacity: 0.5;
}

.buttonCalendar.existingDate {
    background-color: red;
    color: white;
}

.updatedButtonColor {
    background-color: red;
    color: white;
}