body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 780px) {
    body {
        background-image: none;
        background-color: #121212;
    }
}

.headerH1 {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.headerH2 {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.cont-1 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header {
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: end;
}


.logout {
    width: fit-content;
    height: 50px;
    padding-right: 2rem;
    background-color: #333;
    opacity: 0.8;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}


button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    max-width: 150px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 780px) {
    .header {
        justify-content: center;
    }
}

.line {
    border: none;
    height: 10px;
    background-color: white;
    width: 100%;
    margin-top: 30%;
}

.line2 {
    border: none;
    height: 10px;
    background-color: white;
    width: 100%;
    margin-top: 20%;
}


.cont-2 {
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-us {
    width: 900px;
    border-radius: 10px;
    padding: 20px;
}

.about-us p {
    font-size: medium;
    font-weight: normal;
}

@media screen and (max-width: 950px) {
    .about-us {
        width: 600px;
    }

    .slideshow-container {
        display: none;
    }
}

.logo {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.logo img.left {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .cont-2 {
        padding: 10px;
    }

    .about-us {
        width: 80%;
    }

    .logo {
        display: flex;
        top: 8%;
        max-width: 200px;
        height: 150px;
    }

    .logo img.left {
        max-width: 70%;
        height: auto;
        float: left;
    }

    .slideshow-container {
        max-width: 300px;
    }
}

.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.slides {
    display: flex;
}

.slides img {
    width: 100%;
    height: 350px;
    display: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.cont-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.groups {
    grid-gap: 2rem;
    display: flex;
    flex-direction: row;
}

.group1 {
    display: flex;
    flex-direction: column;
    color: white;
}

.it h3 {
    font-weight: bold;
    font-size: x-large;
}

.it {
    width: 300px;
}

.group2 {
    display: flex;
    flex-direction: column;
    color: white;
}

.group3 {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 1350px) {
    .groups {
        flex-direction: column;
    }
}

.line3 {
    border: none;
    height: 5px;
    background-color: white;
    width: 100%;
    margin-top: 2%;
}

.lineblue {
    border: none;
    height: 5px;
    background-color: #007BFF;
    width: 100px;
    margin: 0 auto;
    margin-top: 0;

}

.background {
    background-image: url(image/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.background2 {
    background-color: #121212;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: fit-content;
}

@media screen and (max-height: 750px) {
    .logo {
        display: flex;
        top: 8%;
        max-width: 200px;
        height: 150px;
    }
    .background {
        height: 150vh;
    }
}

@media screen and (max-height: 500px) {
    .background {
        height: 200vh;
    }
}