
/* login a registrace */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container1 { /* Registrace */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 { /* Login */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 a {
    color: black;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

h1 {
    color: #333;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px; 
    max-width: 150px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


/* main select */
.select {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    max-width: 400px;
}

.select-row {
    display: flex;
    flex-direction: row;
}

/* INDEX */
