body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(18, 18, 18, 0.9);
}

.header {
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: end;
}

.logout {
    width: fit-content;
    height: 50px;
    padding-right: 2rem;
    background-color: #333;
    opacity: 0.8;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.bold-text {
    font-weight: bolder;
}

.reservations {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
}

.res-row {
    width: calc(33.33% - 1rem - 20px);
    border: 1px solid #007BFF;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.res-row p {
    margin: 5px 0;
}

.reservations p {
    color: white;
}

@media screen and (max-width: 1200px) {
    .reservations {
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 780px) {
    .reservations {
        align-items: center;
        flex-direction: column;
    }

    .res-row {
        width: calc(100% - 1rem - 20px);
    }
}

.edit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px; 
    max-width: 150px;
    border: none;
    cursor: pointer;
}


.delete-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px; 
    max-width: 150px;
    border: none;
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px; 
    max-width: 150px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.cont-buttons {
    display: flex;
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
}



